<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">삭막한 현대 사회에 정을 나누고 편하게 즐길 수 있는 공간을 제공하고 있습니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffee</h4>
                    <p class="text-muted">고소하며, 부드러운 향과 맛이 나는 원두로 부재료와의 조화가 뛰어납니다.</p>
<!--                    <p class="text-muted"></p>-->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-flower"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Flower</h4>
                    <p class="text-muted">원하는 가격대, 원하는 디자인, 편한 접근을 통해 꽃과 고객의 거리를 좁혔습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">One Day Class</h4>
                    <p class="text-muted">꽃, 공예 원데이 클래스를 개설하여 쉽게 접하기 힘든 경험을 저희 카페에서 제공합니다.</p>
                </div>
            </div>
        </div>
    </section>